<div class="load">
	success-load
</div>

<div id="0" typeof="sx:com.plugins.TestContent" data-testfield="success0">
	success0
</div>

<div id="1" typeof="sx:com.plugins.OtherTestContent" data-testfield="success1">
	success1
</div>

<div id="2" typeof="sx:com.plugins.NotExistingTestContent">
	success2
</div>

<div id="3" typeof="sx:com.plugins.TestContent">
    <div class="subelement" property="mySubElement">success3</div>
    <div class="othersubelement" property="mySubElement">success4</div>
</div>

